h1{
  text-align: center;
}

body{
  background-color: dimgray;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

#video_element{
  width: 500px;
  height: 400px;
  background-color: gray;
}

#camera_container{
  margin: 0px auto;
  width: 500px;
  height: 400px;
  border: 10px #333 solid;
}